.margin{width: 1228px;}
header .top{height: 100%;width: 1456.8px;background: #666;float: left;  position: relative;}
header .margin{width: 1228px;margin: 0 auto;}
header .nav-left{display: block;float: left; }
header .nav-left li{display: inline-block;}
header .nav-left li a {margin-left: 43px;height: 41px;line-height: 40px;font: 11px/40px ""; color: rgb(204, 204, 204);}
header .nav-left .spacil{margin-left: 0;}
header .nav-left li a:hover{cursor: pointer;color: rgb(255, 255, 255);}
header .nav-right{display:block;float: right;}
header .nav-right li{display: inline-block;}
header .nav-right li a{padding-left: 15px;color: rgb(204, 204, 204);font: 11px/40px "";}
header .nav-right i {width: 1px;height: 13px;border-right: 1px solid #979797;margin-left: 15px;margin-top: 16px;}
header .nav-right li a:hover{cursor: pointer;color: rgb(255, 255, 255);}


header .nav{width: 1456px;background: #fff;line-height: 80px;}
header .nav .nav-bar .log a img{float: left;display: block; width: 75px;height: 50px;margin:15px 0 0 10px;}
header .nav .nav-bar{width: 1270px;margin: 0 auto;line-height: 100px;}
header .nav .nav-center .center-left .nav-cl{float: left; margin-left: 96px;position: relative;}
header .nav .nav-center .center-left .nav-cl li{float: left; font: 14px/80px "";color: black;padding: 0 16px 0 17px;}
header .nav .nav-center .center-left .nav-cl li:hover{color: red;cursor: pointer;}
header .nav .nav-center .center-left .nav-cl i{ width: 1px;height: 18px;position: absolute;top: 10px; border-right: 1px solid #E3E3E3;margin-top: 20px;margin-left: 50px;}
header .nav .nav-center .center-right .nav-cr{float: left;margin-left:60px ;}
header .nav .nav-center .center-right .nav-cr li{float: left; font: 14px/80px "";color:black;padding:0 10px;}
header .nav .nav-center .center-right .nav-cr li:hover{cursor: pointer;}
header .nav .search .text{float:right; width: 233px;height: 34px;font-size:14px;padding-left: 15px; color: #999;margin: 21px 0 ;border:1px solid #E3E3E3 ;}

.box{width:100%;height: 550px; position: relative;overflow: hidden;border: 1px solid #E3E3E3;}
.imgbox{width:100%;height: 100%;}
.imgbox img{width:100%;height: 100%;position: absolute;left: 1447px;top: 0;}
.imgbox img:nth-child(1){left: 0;}

.btns input{width:41px;height:119px;border:none;background: rgba(200,200,200,0.5);position: absolute;top:200px;}
#left{left:320px;background: url(../images/ban_pre_24.png)no-repeat center;}
#right{right:200px;background: url(../images/ban_next_24.png)no-repeat center;}

.nav-menu .ul {padding-top: 40px;background-color: rgba(0,0,0,.5);width: 176px;z-index: 100;height: 510px;position: absolute;left: 120px;top:121px; }
.nav-menu .ul li{width: 122px;height: 67px;line-height: 67px;cursor: pointer;padding-left: 32px;padding-right: 22px;}
.nav-menu .ul li:hover{background:rgb(255, 255, 255,0.9);}
.nav-menu .ul li:hover a{color: red;}
.nav-menu .ul li:hover i{color: red;}
.nav-menu .ul li a{color: #fff;float: left;font-size: 14px}
.nav-menu .ul li .ul-child{float: left;display:none; height:550px;width: 800px;background: red;z-index: 1000;position: absolute;left: 176px;top: 0;}
.nav-menu .ul li .ul-child .child-brother{display:flex;flex-wrap: wrap;  width: 100%;}
.nav-menu .ul li .ul-child .child-brother li{display: flex;width:300px;line-height: 14px;margin-top: 70px;}
.nav-menu .ul li .ul-child .child-brother li .kt-img {display: block; width: 120px;height: 120px;margin: 40px 0 0 21px;}
.nav-menu .ul li .ul-child .child-brother .dj{width: 168px;font-size:14px;margin-top: 72px;margin-left: 28px;line-height: 20px;}
.nav-menu .ul li .ul-child .child-brother .dj .price{font-size: 14px;color: #ff2524;margin-top: 10px;font-weight: 600;}
.nav-menu .ul li:hover .ul-child{display: block;background-color: rgba(255, 255, 255)}
.nav-menu .ul li .flex-next{font-size: 14px;width: 14px;height: 67px;right: 20px;margin: 0 0 0 8px;padding: 0;color: #fff;position: inherit;font-style: normal;float: right;}

.three{width:1228px;height: 220px;margin: 62px auto;display: flex;justify-content: space-around;}
.three img{width: 400;height: 220px;}

main .title .margin{width: 1228px;height: 28.8px; margin: 0 auto;margin-bottom: 24px;}
main .title .margin h2{height: 28.8px;float: left;font: 22px/28.8px "";border-left: 4px solid #fe0000;padding-left: 15px;margin-right: 36px;color: #666666;}
main .title .margin span{float: left; font: 16px/28.8px ""; vertical-align: middle;color: #555555;}
main .title .margin span:hover{color: red;cursor: pointer;}
main .title .margin a{float: right; display: inline-block;font: 12px/28.8px "";color: red;}

main .tv{margin: 0 auto; display: flex;justify-content: left;margin-bottom: 45px;}
main .tv .tv-left{width: 296px;height: 615px;background: red;}
main .tv .tv-right{width: 931px;background: #fff;height: 628px;}
main .tv .tv-right ul{width: 100%; text-align: center;display: flex;flex-wrap: wrap;height: 100%;border: red 1px solid;/*一会删除*/}
main .tv .tv-right ul li{width: 296px;height: 300px;overflow: hidden;margin: 0 0 14px 14px;background-color: #fff;position: relative;top: 0;}
main .tv .tv-right ul li .rightbadge{position: absolute;right: 0;top: 0;height: 50px;width: 50px;}
main .tv .tv-right ul li a{font-size: 14px;    display: block;    color: #555;outline: 0;}
main .tv .tv-right ul li .hot-img{height: 180px;width: 180px;margin: 4px auto 2px;vertical-align: middle;}
main .tv .tv-right ul li .p-title{font-size: 14px;color: #333;}
main .tv .tv-right ul li .dice{font-size: 12px;color: #9b9b9b;margin: 12px auto 0;height: 30px;line-height: 15px;overflow: hidden;width: 237px;}
main .tv .tv-right ul li .price{font-size: 14px;color: #ff2524;margin-top: 10px;font-weight: 600;position: relative;display: inline-block;vertical-align: top;}
main .tv .tv-right ul li:hover{cursor: pointer;transition: all 0.7s; transform: scale(1.05);box-shadow:2px 2px 2px 2px rgba(200,200,200,0.6);border-radius: 2px; }

.fans{width: 1226px;margin: 0 auto;overflow: hidden;position: relative;background-color: #FFF;padding: 0 0 70px;}
.fans .fans-list{width: 100%;overflow: hidden;display: block;}
.fans .fans-item {width: 296px;margin: 0 14px 10px 0;}
.fans .fans-list li{    float: left; display: list-item; margin: 0 10px 10px 0;}
.fans .fans-item .fans-box {padding: 36px 34px;background-color: #f3f3f3;}
.fans .fans-box .fans-title {font-size: 14px;height: 24px;line-height: 24px;overflow: hidden;color: #333333;margin-bottom: 10px;}
.fans .fans-box .fans-news {font-size: 12px;padding: 0 10px;margin-right: 8px;display: inline-block;text-align: center;background-color: #4b89f1;vertical-align: top;color: #FFF;}
.fans .fans-box .fans-describe {font-size: 12px;line-height: 14px;height: 42px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-bottom: 18px;color: #666666;}
.fans .fans-box .fans-details {font-size: 12px;line-height: 12px;color: #666;}
.fans .fans-box a:hover{color: red;}
.fans .fans-more {margin-top: 30px;text-align: center;font-size: 12px;color: #666;}
.fans .fans-more a:hover{color: red;}

.help{width: 100%;height: auto;padding: 40px 0 41px;background: #F0F0F0;}
.help .margin{overflow: hidden; position: relative;left: 123px;}
.help dl{float: left;margin-right: 112px;}
.help dl>dt {font-size: 14px;line-height: 14px;padding-bottom: 20px;color: #333;font-weight: 700;}
.help dl>dd {display: block;line-height: 12px;}
.help dl a {color: #999;outline: 0;display: inline-block;padding-bottom: 12px;font-size: 12px;}
.help .last-r {width: 172px;position: absolute;top: 0;right: 0;text-align: center;margin-right: 0;}
.help .last-r {color: red;}
.help .last-r .phone {font-size: 20px;line-height: 20px;padding-bottom: 2px;text-align: center;letter-spacing: 2px;}
.help .last-r .grey {font-size: 12px;color: #999;line-height: 18px;text-align: center;}
.help .last-r i{float: left;display: inline-block;width: 28px;height: 25px;background: url(../images/kf2.png) center no-repeat;margin-top: 5px;margin-left: 13px;}

.help .last-r a {width: 160px;height: 36px;color: red;font-size: 12px;padding: 2px;margin-top: 20px;border: 1px solid red;display: inline-block;line-height: 32px;}
.help .last-r  a:hover{background: red;color: #fff;}
.help .last-r  a:hover i{background: url(../images/kf3.png);}

.goTop, .goTop {
     position: fixed;
     right: 30px;
     bottom: 180px;
     z-index: 20000;
     width: 46px;
     height: 46px;
 }

 .goTop a {
     display: block;
     width: 54px;
     height: 54px;
     cursor: pointer;
     vertical-align: top;
     transition: all .2s;
     border: 1px solid #ededed;
     background-color: #FFF;
     color: #979797;
     font-size: 22px;
     position: relative;
     overflow: hidden;
 }

 .goTop .item {
     border: none;
     height: 33px;
     line-height: 35px;
 }
 .goTop .item img{
      margin-left: 13px;
 }
 .goTop .item-1 {
     margin-left: 17px;
     margin-top: 4px;
     font-size: 10px;
     line-height: 14px;
     height: 14px;
 }
 .goTop .item-1:hover{
      color: red;
      font-weight: 700;
 }
/* .footer .blod {width: 1228px;margin: 0 auto;}
.footer .blod a:nth-child(1) {padding-left: 0;}
.footer p.blod>a {color: #666;}
.footer .blod a {padding: 0 15px;}
.footer .foot-r {line-height: 29px;position: absolute;top: 10px;right: 0;z-index: 10;}
.footer .foot-r>div {margin-left: 10px;vertical-align: top;display: inline-block;}
.AC>div{float: left;margin-left: 5px;}
     */


